.body{
    margin: 0; 
    padding: 0; 
}
.head{
    text-align: center;
      background-color: aquamarine;
     
      padding:0px
}
h1{
    margin:0;
}
ul{
    display:flex;
    list-style-type: none;
    background-color: black;
    
    color:cornsilk;
    
}
li>a {
    padding: 0.85rem;
    color:white;
    margin: 1rem;
    
}

main{
    display: flex;
    
    
    
}

.art1>img{
    height: 70%;
    width: 40%;
}
.sec1>img{
    height: 70%;
    width: 40%;
}
.sec2>img{
    height: 70%;
    width: 40%; 
}
.art1{
    justify-content: center;
    width:30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0em, 1em;
}

.art2{
    justify-content: center;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    margin: 0em, 1em;
}
footer {
    text-align: center;
      background-color:grey;
     
      padding:0px
}